<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>EDGAR Deal API</title>
</head>

<body>
	
	<p th:text="'Time on the server is ' + ${theDate}">
	
	<div> 
		<a th:href="@{saveFile}">Save a file</a> 
	</div>
	
	<div> 
		<a th:href="@{saveFolder}">Save a folder</a> 
	</div>
	
</body>

</html>










